.chatroom {
    margin-top: 50px;
    padding: 20px;
    background-color: #1c1e26;
    border-radius: 10px;
    display: inline-block;
    width: 80%;
}

#messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #61dafb;
    padding: 10px;
    background: #282c34;
    text-align: left;
}

#messageInput {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    margin-left: 10px;
}
